body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .background-container {
    position: relative;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    opacity: 0.7; 
  }
  
  .presentation {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
  }
  
  .presentation h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .presentation p {
    font-size: 16px;
    line-height: 1.6;
  }
  

  .btn-primary {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.2s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .file-download {
    text-align: center;
    margin-top: 20px;
  }
  
  .file-download h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .file-download a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .file-download a:hover {
    background-color: #0056b3;
  }
  
  .button-container {
    display: flex;
    gap: 20px; 
    align-items: center; 
  }