.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table-absences {
  width: 100%;
  border-collapse: collapse;
}

.table-absences th,
.table-absences td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table-absences th {
  text-align: left;
}

.btn-justifier,
.btn-visualiser {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn-justifier:hover,
.btn-visualiser:hover {
  background-color: #0056b3;
}

.btn-fermer {
  padding: 8px 12px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

.btn-fermer:hover {
  background-color: #c82333;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  z-index: 101;
}

.popup h2 {
  margin-top: 0;
}

.popup form {
  margin-bottom: 20px;
}

.popup label {
  display: block;
  margin-bottom: 10px;
}

.popup textarea {
  width: 100%;
  height: 100px;
}

.popup .btn-soumettre {
  padding: 8px 12px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.popup .btn-soumettre:hover {
  background-color: #218838;
}

.document-preview {
  margin-bottom: 10px;
}

.document-preview a {
  color: #007bff;
  text-decoration: none;
}

.document-preview a:hover {
  text-decoration: underline;
}

.add-btn {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 25px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  border: none;
  background: rgba(255, 99, 71, 0.39);
}

.add-btn:hover {
  background: rgba(255, 99, 71, 0.5);
}